.card{
    width: 215px;
    height: 282px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 10px 10px;
    flex-grow: 0;
    flex: none;
    padding: 0px;
    border: none;
}

.cardDataContainer{
    height: 96px;
}

.cardImageContainer{
    width: 16px;
    height: 16px;
    margin: 0px;
    margin-right: 10px;
}

.cardImages{
    height: 100%;
    width: 100%;
}

.cardImg{
    stroke: white;
}

.cardInnerBar{
    width: 184px;
    height: 2px;
    background: #D4D4D4;
    border-radius: 2px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.cardHead{
    display: flex;
    padding: 10px;
    margin: 0px;
    flex-direction: column;
    height: 98px;
    border-radius: 8px 8px 0px 0px;
    background: #969696;
}

.name{
    display: flex;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 0px;
    color:#FFFFFF
}

.cardBody{
    display: flex;
    height: 152px;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    padding: 0px 10px;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 184px;
    padding: 0px;
    margin: 8px;
}

.cardDetailsSub{
    display: flex;
}

.birthdateTxt{
    margin: 0px;
}