.headContainer{
    margin: 48px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1156px;
    height: 50px;
    white-space: nowrap;
}

.headInfoFrame{
    display: flex;
    width: 212px;
    height: 32px;
    margin: 5px 0px;
}

.headLowerBar{
    display: flex;
    width: 1156px;
    height: 2px;
    background: #B8B8B8;
    border-radius: 2px; 
}

.homeName{
    font-size: 16px;
    font-size: 16px;
    color: #3B3B3B;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    align-items: center;
}

.Frame1{
    display: flex;
    align-items: flex-start;
}

.Frame2{
    display: flex;
    margin: 0px 284px;
    align-items: center;
}

.Frame3{
    display: flex;
    box-sizing: border-box;
    margin: 0px 72px;
    border: 1px solid #B8B8B8;
    align-items: center;
    border-radius: 4px;
    padding: 8px 12px;
}

.heading2{
    color: #818181;
    font-style: normal;
    font-weight: normal;
}

.btnallcards{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3B3B3B;
    width: 112px;
    height: 32px;
    background-color: white;
    border-radius: 4px;
    border: none;
}

.btnDecks{
    display: flex;
    height: 32px;
    padding: 8px 12px;
    line-height: 16px;
    margin: 0px 8px;
    color: #3B3B3B;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    border-radius: 4px;
    border: none;
}

.imgHead{
    margin: 0px 8px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .headContainer{
        width: 456px;
        align-self: center;
    }

    .heading1, .heading2{
        display: none;
    }

    .headLowerBar{
        width: 456px;
    }

    .Frame2{
        margin: 0px;
    }

    .Frame3{
        margin: 0px 85px;
    }
  }

  @media only screen and (max-width:500px) {
    /* For Mobile Phones: */
    .headContainer{
        width: 358px;
        align-self: flex-start;
        padding: 0px 10px;
    }

    .headLowerBar{
        width: 358px;
    }

    .Frame3{
        margin:  0px 8px;
    }

    .btnDecks{
        padding: 2px 8px;
    }
    
    .btnallcards{
        width: 100px;
    }

}