.headContainer{
    margin: 48px 0px;
    display: flex;
    flex-direction: column;
    width: 1176px;
    height: 50px;
    white-space: nowrap;
}

.headInfoFrame{
    display: flex;
    width: 212px;
    height: 32px;
    /* margin: 16px 0px; */
}

.headLowerBar{
    display: flex;
    width: 1176px;
    height: 2px;
    background: #B8B8B8;
    border-radius: 2px;
}

.homeName{
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    align-items: center;
}

.Frame1{
    display: flex;
    align-items: flex-start;
}

.Frame2{
    display: flex;
    margin: 0px 284px;
    align-items: center;
}

.Frame3{
    display: flex;
    box-sizing: border-box;
    margin: 0px 190px;
    border: 1px solid #B8B8B8;
}

.btnallcards{
    width: 112px;
    height: 32px;
    background-color: white;
    border-radius: 4px;
}

.btnDecks{
    width: 92px;
    height: 32px;
    background: #E4E4E4;
    border-radius: 4px;
}