body{
  background-color: #E5E5E5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  animation-timing-function: ease-in;
  animation-name: animateBody;
  animation-duration: 3s;
}

@keyframes animateBody {
  from{background: #B8B8B8;}
  to{background-color: #E5E5E5;}
}

.app{
  width: 1176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
}

@media only screen and (max-width:768px){
  .app{
    width: 456px;
  }
}


/* .app{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  display: flex;
  margin: 0px 10px;
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  border: 1px black;
  border-style: dotted;
} */